*{ /*quita bordes por defecto*/
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
header{/*ancho de encabezado*/
    width: 100%;
    position: fixed;
}
nav{/*tamaño del menu del nav*/
    margin: 0 auto;
    width: 100%;
    background: #a9f536;
}
nav ul{/*que no aparezca el estilo de lista por defecto*/
    list-style: none;
}
nav>ul{/*estilo tabla, tamaño y fondo del menu*/
    display: table;
    overflow: hidden;
    width: 100%;
  /*  position: relative;  */

    padding: 25px;
}

nav>ul li{/*formato de celda de menu */
    padding: 55px;
    display: inline;
    text-align: center;
}

nav>ul>li>a{/*estilo de texto de menu*/
    font-family:'Merriweather', serif;
    font-size: 20px;
    font-weight: bold;
    color: #326962;
    text-decoration: none;
}
body{/*fondo de cuerpo y alineacion*/
    background: #326962;
    text-align: center;
}
.img-ram{/*logo de rick and morty, ajuste de tamaño*/
    display: inline;
    margin: 100px 0 80px 0;
    width: 20%;
}
#img-logo {
    margin-top: -300px;
    margin-bottom: -80px;
}
.intro{/*estilo de introduccion*/
    font-family:'Merriweather', serif;
    font-size: 20px;
    color: #fff;
    text-align: center;
    margin-top: -5%;
    margin-bottom: 0%;
    letter-spacing: 1px;
}
#go{/*estilo para boton de ir*/
    background: #a9f536;
    border-radius: 5px;
    font-family:'Merriweather', serif;
    font-size: 20px;
    font-weight: bold;
    height: 60px;
    width: 230px;
    color: #326962;
    margin-top: 5%;
    margin-bottom: 5%;
    letter-spacing: 1px;
}
.season{/*estilo para botones de temporadas*/
    display: inline;
    background: #326962;
    border-radius: 5px;
    font-family:'Merriweather', serif;
    font-size: 18px;
    font-weight: bold;
    height: 60px;
    width: 20%;
    color: #a9f536;
    margin-top: 5%;
    margin-bottom: 5%;
    letter-spacing: 1px;
    border-bottom-color: #a9f536;
}

.season:hover{/*que cambie de color al pasar el mouse en botones de temporadas*/
   background:#2c4a45;
}
#chooseEpisode{/*medidas para opcion escoger*/
   display: inline-block;
   text-align: center;
   padding-left: 40%;
   padding-right: 40%;
}
.choose{/*estilo para escoger episodio*/
    font-family: 'Merriweather', serif;
    font-size: 20px;
    background:#a9f536;
    color: #326962;
    padding: 20px 20px;
    width: 250px;
    text-align: center;
    border-radius: 5px;
}

.chapter>li{/*estilo para opcion de capitulo*/
    font-family: 'Merriweather', serif;
    font-size: 20px;
    color: #326962;
    background: #a9f536;
    text-decoration: none;
    display: block;
}
.chapter {/*que no se vea estilo lista*/
    list-style: none;
}
.chapter>li:hover{/*que cambie de color los capitulos al pasar el mouse*/
    background: #2c4a45;
}
#order{/*estilo para orden por*/
    font-size: 20px;
    font-family: 'Merriweather', serif;
    font-weight: inherit;
    margin: 10px 0 20px 0;
    color: #fff;
}
.buttonorder{/*estilo para elementos dentro del orden*/
    text-decoration: underline;
    font-family: 'Merriweather', serif;
    font-weight: inherit;
    text-decoration: none;
    padding:  10px 10px;
    color: #a9f536;
    background: #2c4a45;
    margin-top: 10px;
    border-color: none;
}
.buttonorder a:hover{/*que cambie de color los elementos dentro de orden*/
    background: #2c4a45;
}
.buttonorder.active {
    background-color: #666;
    color: white;
  }

#data{/*estilo para estadistica*/
    font-family: 'Merriweather', serif;
    color: white;
    font-size: 20px;
    margin-bottom: 60px;
}
#cardscharacters{
    text-align: center;
}

.character {
  display: inline-block;
  text-align: center;
  width: 25%;
  margin: 25px;
}
.txtcharacter {
  text-align: center;
  background: #2E4643;
  padding: 20px;
  margin-top: 0;
}
.namecharacter {
  color:#C1DE47;
  text-align: center;
  font-size: 22px;
  margin: 0 0 15px 0;
}
.datacharacter{
  color:#fff;
  text-align: center;
  font-size: 18px;
  margin: 0 auto;
  list-style:none;
}
.imgcharacter{
  width: 100%;
}
footer{/*fondo de pie de pagina*/
    width: 100%;
    background: #a9f536;
    font-family: 'Merriweather', serif;
    color: #326962;
    position: static;
}
footer > ul {
  padding: 40px;
  list-style: none;
}
.link{/*estilo para link de pagina oficial*/
    font-family: 'Merriweather', serif;
    color: #326962;
    font-size: 15px;
    text-decoration: none;
}
.link:hover{/*que cambie de color al pasar por el link*/
    color: #2c4a45;
}
.linkGitHub a{/*estilo para link de colaboradoras*/
    font-family: 'Merriweather', serif;
    color: #326962;
    font-size: 15px;
    text-decoration: none;
}
.linkGitHub a:hover{/*que cambie de color al pasar por el link*/
    color: #2c4a45;
}



@media screen and (max-width:620px) {
  /* For mobile phones: */
.season {
  display: inline;
  font-size: 14px;
}
.img-ram{/*logo de rick and morty, ajuste de tamaño*/
    display: inline;
    margin: 100px 0 20px 0;
    width: 60%;
}
#img-logo {
    width: 50%;
    margin-top: -300px;
    margin-bottom: -80px;
}
}

@media screen and (max-width:375px) {
    #img-logo {
        width: 80%;
        margin-top: -300px;
        margin-bottom: -80px;
    }

    nav>ul{/*estilo tabla, tamaño y fondo del menu*/
        display: inline;
        overflow: hidden;
        width: 100%;
      /*  position: relative;  */
        padding: 25px;
    } 
    nav{/*tamaño del menu del nav*/
        margin: 0 auto;
        width: 100%;
        height: 100%;
        background: #a9f536;
    }
    .season{/*estilo para botones de temporadas*/
        display: inline;
        background: #326962;
        border-radius: 5px;
        font-family:'Merriweather', serif;
        font-size: 18px;
        font-weight: bold;
        height: 60px;
        width: 50%;
        color: #a9f536;
        margin-top: 1%;
        margin-bottom: 5%;
        letter-spacing: 1px;
        border-bottom-color: #a9f536;
    }
    nav{/*tamaño del menu del nav*/
        margin: 0 auto;
        width: 100%;
        background: #a9f536;
        padding: 8% 0 8% 0;
    }
    .buttonorder{/*estilo para elementos dentro del orden*/
        text-decoration: underline;
        font-family: 'Merriweather', serif;
        font-weight: inherit;
        text-decoration: none;
        padding:  20px;
        color: #a9f536;
        background: #2c4a45;
        margin-top: 10px;
        border-color: none;
        font-size: 18px;
        border-radius: 5px;
    }
    .linkGitHub a{/*estilo para link de colaboradoras*/
        font-family: 'Merriweather', serif;
        color: #326962;
        font-size: 16px;
        text-decoration: none;
    }  
    .link{/*estilo para link de pagina oficial*/
        font-family: 'Merriweather', serif;
        color: #326962;
        font-size: 16px;
        text-decoration: none;
    }  


}
